[Unit]
Description=KVM: Input Emulation
DefaultDependencies=true

[Service]
Type=simple
ExecStart=/home/pi/kvm/scripts/start_gadget.sh
WorkingDirectory=/home/pi/kvm/scripts/
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=local-fs.target
