[Unit]
Description=WebRTC Server
DefaultDependencies=true
StartLimitBurst=1000
StartLimitIntervalSec=10

[Service]
Type=simple
ExecStart=/home/pi/kvm/scripts/start_webrtc.sh
WorkingDirectory=/home/pi/kvm/scripts/
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=1s

[Install]
WantedBy=local-fs.target
